// see the following link for color palette info:
// https://material.io/color/#!/?view.left=1&view.right=0&primary.color=FAFAFA&secondary.color=212121

// primary colors
$primary-color-dark: #c7c7c7;
$primary-color: #fafafa;
$primary-color-light: #ffffff;

// secondary colors
$secondayr-color-dark: #000000;
$secondary-color: #212121;
$secondary-color-light: #484848;

// primary text
$primary-dark-bg-black-text: #000000;
$primary-bg-black-text: #000000;
$primary-light-bg-black-text: #000000;

// secondary text
$secondary-dark-bg-white-text: #ffffff;
$secondary-bg-white-text: #ffffff;
$secondary-light-bg-white-text: #ffffff;
